---
import content from "../data/trainingInfo.js";
import ImageComp from "../components/utils/ImageComp.astro";
import { GiCheckeredFlag } from "react-icons/gi";


const { title, description, bullets, imagePath, imageAlt } = content;
---

<section class="py-16 lg:py-24 bg-accent-50 bg-checkered bg-fixed">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 flex flex-col lg:flex-row items-center gap-12">
    <!-- Text Content -->
    <div class="w-full lg:w-1/2" data-aos="fade-right" data-aos-delay="200">
      <h2 class="text-3xl lg:text-5xl font-bold text-accent-200 mb-4"
          set:html={title}
      >
      </h2>
      <p class="text-xl text-accent-200 font-semibold mb-6">{description}</p>
      <ul class="space-y-3">
        {bullets.map((bullet) => (
          <li class="flex items-center space-x-3">
            <GiCheckeredFlag className="text-primary-700 w-8"/>
            <span class="text-accent-200 text-lg font-semibold">{bullet}</span>
          </li>
        ))}
      </ul>
    </div>

    <!-- Image Section -->
    <div class="w-full lg:w-1/2" data-aos="fade-right">
      <ImageComp 
        imagePath={imagePath} 
        imageAlt={imageAlt} 
        styles="rounded-lg shadow-lg w-full h-auto object-cover"
      />
    </div>
  </div>
</section>