---
const { content } = Astro.props;
import { speedwayScholarship } from "../data/scholarshipData";
---

<section class="text-white relative pt-16 mt-0 text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center bg-mariner-800">
    <div class="mx-auto max-w-6xl lg:pr-4 md:px-10 lg:px-20">
        <div class="my-9">
            <p class="text-base font-semibold leading-7 text-primary-700 uppercase">
            {content.upperHeading}
            </p>
            <h1
            class="mt-0 text-3xl font-bold tracking-tight text-muted-100 sm:text-4xl"
            >
            {content.title}
            </h1>
            <p
            class="mt-6 text-xl leading-8 text-muted-50 text-justify"
            set:html={content.description}
            />
        </div>

        <div class="flex items-center py-4 "> 
            <span class="mx-2">Apply</span>
            <!-- Item -->
            {
                content.bullets.map((item) => (
                        <span class="px-5 text-muted-100 dark:text-gray-300 rtl:-scale-x-100 ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 " viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </span>

                        <a href="#" class="flex items-center text-muted-100 -px-2 dark:text-muted-100 hover:underline">
                            {/* <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>  */}
                        <span class="mx-2" set:html={item.title}></span>
                        </a>
                ))
            }
            
            
        </div>

        <div class="container py-10 mx-auto">
            
            <hr class="my-12 border-gray-200 dark:border-muted-200">

            <div class="lg:flex lg:items-center">
                <div class="w-full space-y-12  ">
                    <!-- Intro -->
                    <div class="w-full">
                        <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white justify-center">{speedwayScholarship.programStructure.title}</h1>

                        <div class="mt-2">
                            <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                            <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
                            <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
                        </div>

                        {
                            speedwayScholarship.programStructure.description.map(( paragraph) => (
                                <p class=" pt-2 dark:text-white">{paragraph}</p>
                            ))
                        }
                    </div>

                    <!-- Cards -->
                    {
                        speedwayScholarship.programStructure.phases && speedwayScholarship.programStructure.phases.map((phase) => (
                            <div class="md:flex md:items-start md:-mx-4">
                                <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                                    </svg>
                                </span>

                                <div class="mt-3 md:mx-3 md:mt-0">
                                    <h3 class=" font-semibold text-2xl  capitalize dark:text-white">{phase.title}</h3>
                                    <div class="py-2">
                                        <p class="  dark:text-white">{phase.description[0]}</p>
                                        <ul class="list-disc">
                                            {phase.bullets.map((bullet) => (
                                            <li>
                                                <p class="mt-3 text-gray-500 dark:text-gray-300">
                                                    {bullet}
                                                </p>
                                            </li>  
                                            ))}

                                        </ul>
                                    </div>
                                
                                </div>
                            </div>
                        ))
                    }
                    <!-- <div class="md:flex md:items-start md:-mx-4">
                        <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                            </svg>
                        </span>

                        <div class="mt-4 md:mx-4 md:mt-0">
                            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Zero Configuration</h1>

                            <p class="mt-3 text-gray-500 dark:text-gray-300">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
                            </p>
                        </div>
                    </div> -->

                    <!-- <div class="md:flex md:items-start md:-mx-4">
                        <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                            </svg>
                        </span>

                        <div class="mt-4 md:mx-4 md:mt-0">
                            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">elegant Dark Mode</h1>

                            <p class="mt-3 text-gray-500 dark:text-gray-300">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
                            </p>
                        </div>
                    </div> -->
                </div>
                <!-- Image -->
                <div class="hidden lg:flex lg:items-center lg:w-1/2 lg:justify-center ">
                    <img class="w-[22rem] h-[28rem] object-cover xl:w-[34rem] xl:h-[34rem] rounded-2xl " src={speedwayScholarship.programStructure.phases[0].imagePath} alt={speedwayScholarship.programStructure.phases[0].imageAlt}>
                </div>
            </div>

            <hr class="my-12 border-gray-200 dark:border-muted-200">

            <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
                
            </div>
        </div>
    </div>
</section>